# ----------------------------
# DEVELOPMENT ENVIRONMENT VARIABLES
# ----------------------------

NODE_ENV=development

# Database connection
POSTGRES_HOST=some_value
POSTGRES_PORT=some_value
POSTGRES_USER=some_value
POSTGRES_PASSWORD=some_value
POSTGRES_DB=some_value
POSTGRES_SSL_REQUIRED=true
POSTGRES_PASSWORD_FILE_PATH=some_value

# Other local env variables
PORT=some_value
JWT_SECRET=some_value
SESSION_SECRET=some_value
CLIENT_DOMAIN=kantisoft.com

# REDIS
REDIS_HOST=some_value
REDIS_PORT=some_value
REDIS_PASSWORD=some_value
REDIS_URL=redis://:kantisoft_redis_123@redis_cache:6379/0